<div class="font-sans flex flex-col text-center mb-1 content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 bg-white shadow  w-full">
  <div class="flex justify-between space-x-20">
    <p class="text-2xl no-underline pt-1 text-grey-darkest font-sans">Titre: Texas</p>
    <p class="text-2xl no-underline pt-1 text-grey-darkest font-sans">Style: Country</p>
    <p class="text-2xl no-underline pt-1 text-grey-darkest font-sans">Fichier: Beau-la-folie.mp3</p>
  </div>

  <div class="self-center">
    <a routerLink="" href="">
      <button
        class="focus:outline-none bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500">
        Supprimer
      </button>
    </a>
  </div>
</div>
