<div class="ml-64 h-screen overflow-hidden">
  <div class="bg-gradient-to-r from-purple-clair to-purple-fonce" style="height: 22rem">
    <div class="flex">
      <button class="mt-4 ml-7 focus:outline-none" mat-mini-fab aria-label="Example icon-button with a arrow icon">
        <mat-icon class="text-white text-4xl">keyboard_arrow_left</mat-icon>
      </button>
      <button class="mt-4 ml-5 focus:outline-none" mat-mini-fab aria-label="Example icon-button with a arrow icon">
        <mat-icon class="text-white text-4xl">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div class="flex select-none">
      <div class="ml-8 mt-7 h-60 w-60 flex items-center justify-center cursor-pointer bg-purple-900 border-2 border-transparent hover:border-two-black hover:bg-opacity-20">
        <img class="h-20 w-20" src="../../../../assets/like.png" alt="logo liked song">
      </div>
      <div class="pt-36 pl-6 ">
        <p class="text-white text-7xl font-black">Titres likés</p>
      </div>
    </div>
  </div>
  <div class="h-full" style="background-color: #121212">
    <div class="pl-8 pt-10">
      <button class="focus:outline-none flex items-center justify-center bg-red-page rounded-full h-16 w-16 py-4 px-4 motion-safe:hover:scale-110">
        <img class="ml-1 h-6" src="../../../../assets/play-arrow.png" alt="logo liked song">
      </button>
    </div>

    <div class="ml-5 mt-3 w-3/4 rounded p-3 border-b border-gray-clair select-none">
      <div class="flex justify-between items-center">
        <div class="flex items-center justify-center">
          <div class="ml-2 text-gray-400">TITRE</div>
        </div>
        <div class="flex items-center justify-center">
          <div class="ml-10 text-gray-400">ALBUM</div>
        </div>
        <p class="text-gray-400 mt-1">DURÉE</p>
      </div>
    </div>

    <div class="pt-3">
      <app-music-card *ngFor="let song of album.Musics" [song]="song" (click)="playThisSong(song)"></app-music-card>
    </div>

    <div class="mt-4 ml-8 relative text-gray-600 flex">
    </div>
  </div>
</div>
