<div class="mb-5 ml-5 w-3/4 rounded p-3 cursor-pointer bg-opacity-10 bg-white hover:bg-opacity-20">
  <div class="flex justify-between items-center">
    <div class="flex items-center justify-center">
      <img src="https://localhost:5001/Album/{{album.id}}/thumbnail" alt="" class="object-cover" style="height: 40px; width: 40px">
      <div class="ml-5 text-white text-base text-white">{{album.name}}</div>
    </div>
    <p class="text-gray-400 mt-1">{{album.totalTime}} Minutes.</p>
  </div>
</div>
