<!--<mat-drawer-container class="h-full">
  <mat-drawer mode="side" opened class="bg-black text-white w-64">
    <div class="items-center justify-left ml-6 mt-10">
      <a class="flex" [routerLink]="'/home'">
        <img class="h-12 animate-spin" src="../../../../assets/images/spotify.svg">
        <span class="mx-3 pt-2 select-none font-bold text-2xl text-white font-large">SpotiWish</span>
      </a>
    </div>

    &lt;!&ndash; Profile Button &ndash;&gt;
    <div
      class="usernameButton cursor-pointer top-5 right-5 fixed w-auto h-10 font-medium items-center flex rounded-full p-3 select-none">
      USERNAME
    </div>

    &lt;!&ndash; Logout Button &ndash;&gt;
    <div [routerLink]="'/login'"
         class="usernameButton cursor-pointer top-15 right-5 fixed w-auto h-10 font-medium items-center flex rounded-full p-3 select-none">
      LOGOUT
    </div>


    &lt;!&ndash; All navigation button &ndash;&gt;
    <nav class="mt-10">
      <a [routerLink]="'/home'" class="flex items-center py-2 px-8 bg-gray-700 text-gray-100 border-r-4 border-gray-100"
         href="#">
        <mat-icon>home</mat-icon>
        <span class="mx-4 font-medium">Accueil</span>
      </a>

      <a [routerLink]="'/home/search'"
         class="flex items-center mt-1 py-2 px-8 text-gray-400 border-r-4 border-black hover:text-gray-100 hover:border-gray-100"
         href="#">
        <mat-icon>search</mat-icon>
        <span class="mx-4 font-medium">Rechercher</span>
      </a>

      <a [routerLink]="'/home/playlist'"
         class="flex items-center mt-1 py-2 px-8 text-gray-400 border-r-4 border-black hover:text-gray-100 hover:border-gray-100"
         href="#">
        <mat-icon>library_music</mat-icon>
        <span class="mx-4 font-medium">Bibliothèque</span>
      </a>

      <a [routerLink]="'/admin'"
         class="flex items-center mt-1 py-2 px-8 text-gray-400 border-r-4 border-black hover:text-gray-100 hover:border-gray-100"
         href="#">
        <mat-icon>assignment_ind</mat-icon>
        <span class="mx-4 font-medium">Admin</span>
      </a>

      <a [routerLink]="'/home/createPlaylist'"
         class="flex items-center mt-8 py-2 px-8 text-gray-400 border-r-4 border-black hover:text-gray-100 hover:border-gray-100"
         href="#">
        <mat-icon>add_box</mat-icon>
        <span class="mx-4 font-medium">Créer une playlist</span>
      </a>

      <a [routerLink]="'/home/likedSong'"
         class="flex items-center mt-1 py-2 px-8 text-gray-400 border-r-4 border-black hover:text-gray-100 hover:border-gray-100"
         href="#">
        <mat-icon>favorite</mat-icon>
        <span class="mx-4 font-medium">Titres likés</span>
      </a>

      <div class="flex items-center py-2 px-8">
        <img src="../../../../assets/divider.png">
      </div>

      <a [routerLink]="'/home/myPlaylist'"
         class="flex items-center py-2 px-8 text-gray-400 border-r-4 border-black hover:text-gray-100 hover:border-gray-100"
         href="#">
        <span class="font-small">Playlist 1</span>
      </a>
    </nav>

    &lt;!&ndash; Playing Song Bar &ndash;&gt;
    <app-playing-bar-song *ngIf="getPlayingSongStatus()"></app-playing-bar-song>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>-->


<div id="page">
  <div id="menu">
    <app-sidebar-home></app-sidebar-home>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

