<nav class="flex flex-col w-64 h-screen px-4 fixed bg-black">

  <div class="flex flex-wrap">
    <div class="items-center justify-left ml-6 mt-10">
      <a class="flex" [routerLink]="'/home'">
        <img class="h-12 animate-spin" src="../../../../assets/images/spotify.svg">
        <span class="mx-3 pt-2 select-none font-bold text-2xl text-white font-large">SpotiWish</span>
      </a>
    </div>

  </div>

  <div class="mt-10">
    <ul>
      <a [routerLink]="'/home'" href="">
        <li
          class="mb-2 px-4 py-4 text-gray-100 flex flex-row items-center border-gray-300 hover:text-black hover:bg-gray-300 hover:font-bold rounded rounded-lg">
          <mat-icon>home</mat-icon>
          <span class="mx-4 font-medium mt-1">Accueil</span>
        </li>
      </a>

      <a [routerLink]="'/home/search'">
        <li
          class="mb-2 px-4 py-4 text-gray-100 flex flex-row border-gray-300 hover:text-black hover:bg-gray-300 hover:font-bold rounded rounded-lg">
          <mat-icon>search</mat-icon>
          <span class="mx-4 font-medium mt-1">Rechercher</span>
        </li>
      </a>

      <a [routerLink]="'/home/playlist'">
        <li
          class="mb-2 px-4 py-4 text-gray-100 flex flex-row border-gray-300 hover:text-black hover:bg-gray-300 hover:font-bold rounded rounded-lg">
          <mat-icon>library_music</mat-icon>
          <span class="mx-4 font-medium">Bibliothèque</span>
        </li>
      </a>

      <a [routerLink]="'/home/admin'">
        <li
          class="mb-2 px-4 py-4 text-gray-100 flex flex-row border-gray-300 hover:text-black hover:bg-gray-300 hover:font-bold rounded rounded-lg">
          <mat-icon>assignment_ind</mat-icon>
          <span class="mx-4 font-medium">Admin</span>
        </li>
      </a>

      <a [routerLink]="'/home/createPlaylist'">
        <li
          class="mb-2 px-4 py-4 text-gray-100 flex flex-row border-gray-300 hover:text-black hover:bg-gray-300 hover:font-bold rounded rounded-lg">
          <mat-icon>add_box</mat-icon>
          <span class="mx-4 font-medium">Créer une playlist</span>
        </li>
      </a>
    </ul>
    <div class="flex items-center py-2 px-8">
      <img src="../../../../assets/divider.png">
    </div>
    <a [routerLink]="'/home/myPlaylist'"
       class="flex items-center py-2 px-8 text-gray-400 border-r-4 border-black hover:text-gray-100"
       href="#">
      <span class="font-small">Playlist 1</span>
    </a>
  </div>
</nav>



<!-- Profile Button -->
<div
  class="text-white usernameButton cursor-pointer top-5 right-5 fixed w-auto h-10 font-medium items-center flex rounded-full p-3 select-none">
  USERNAME
</div>

<!-- Logout Button -->
<div [routerLink]="'/login'"
     class="text-white usernameButton cursor-pointer top-20 right-5 fixed w-auto h-10 font-medium items-center flex rounded-full p-3 select-none">
  LOGOUT
</div>

<!-- Playing Song Bar -->
<app-playing-bar-song *ngIf="getPlayingSongStatus()"></app-playing-bar-song>
