<!-- DONT FORGET DO h-full FIRST ON THE TOP -->
<div class="border-2 border-green-500 h-full bg-gradient-to-b from-red-900 via-black to-black">
  <div class="flex flex-wrap h-2/5 mt-24 border-2 border-red-500 justify-between">
    <div class="font-medium text-white m-8 flex w-72 h-20 rounded-md cursor-pointer bg-opacity-10 bg-white hover:bg-opacity-20 hover:border-transparent transition-colors duration-500">
      <div class="w-20">
        <img alt="" src="/assets/images/cover-album/Webp.net-resizeimage.jpg">
      </div>
      <div class="w-52 flex justify-center items-center">
        <div class="break-words text-xl" style="max-width: 200px">Jeannine</div>
      </div>
    </div>
    <div class="font-medium text-white m-8 flex w-72 h-20 rounded-md cursor-pointer bg-opacity-10 bg-white hover:bg-opacity-20 hover:border-transparent transition-colors duration-500">
      <div class="border-2 border-blue-500 w-20">
        IMAGE
      </div>
      <div class="w-52 flex justify-center items-center">
        <div class="break-words" style="max-width: 200px">TITLE</div>
      </div>
    </div>
    <div class="font-medium text-white m-8 flex w-72 h-20 rounded-md cursor-pointer bg-opacity-10 bg-white hover:bg-opacity-20 hover:border-transparent transition-colors duration-500">
      <div class="border-2 border-blue-500 w-20">
        IMAGE
      </div>
      <div class="w-52 flex justify-center items-center">
        <div class="break-words" style="max-width: 200px">TITLE</div>
      </div>
    </div>
  </div>
</div>
