<div class="h-full select-none overflow-hidden" style="background-color: #121212">
  <div class="flex">
    <button class="mt-4 ml-7 focus:outline-none" mat-mini-fab aria-label="Example icon-button with a arrow icon">
      <mat-icon class="text-white text-4xl">keyboard_arrow_left</mat-icon>
    </button>
    <button class="mt-4 ml-5 focus:outline-none" mat-mini-fab aria-label="Example icon-button with a arrow icon">
      <mat-icon class="text-white text-4xl">keyboard_arrow_right</mat-icon>
    </button>
  </div>



  <div class="flex flex-col-reverse h-96 text-white">
    <span class="text-2xl p-5">TEST}</span>
    <span class="font-black text-6xl p-5">TEST</span>
  </div>
  <div class="flex flex-col bg-gradient-to-t from-black to-bordo text-white h-full">

    <div class="flex flex-col">

      <div class="ml-5 mb-5 w-3/4 rounded p-3 border-b border-gray-clair">
        <div class="flex justify-between items-center">
          <div class="flex items-center justify-center">
            <div class="ml-14 text-gray-400">TITLE</div>
          </div>
          <p class="text-gray-400 mt-1">Nb. Plays</p>
          <p class="text-gray-400 mt-1">Release Date</p>
        </div>
      </div>

      <app-music-card *ngFor="let song of album.Musics" [song]="song" (click)="playThisSong(song)"></app-music-card>
    </div>
  </div>
</div>

