<div class="ml-5 w-3/4 rounded p-3 cursor-pointer bg-opacity-0 bg-white hover:bg-opacity-20">
  <div class="flex select-none justify-between items-center">
    <div class="flex items-center justify-center">
      <img src="https://i.postimg.cc/VNYLzb8w/bg03.jpg" alt="" class="object-cover" style="height: 40px; width: 40px">
      <div class="ml-5 text-white text-base text-white">{{song.name}}</div>
    </div>
    <span class="text-center text-gray-400 mt-1">{{song.timeOfPlays}}</span>
    <span class="text-center text-gray-400 mt-1">{{song.releaseDate}}</span>
  </div>
</div>

