<div class="ml-64 h-screen overflow-hidden">


  <div class="bg-cover" [ngStyle]="{'background-image': 'url(' + coverURL + ')'}">

    <div class="flex flex-col-reverse h-96 text-white z-30">
      <span class="text-2xl p-5">{{artist?.timeOfHeard}} écoutes par mois.</span>
      <span class="font-black text-6xl p-5">{{artist?.name}}</span>
    </div>
  </div>

  <div class="flex flex-col bg-gradient-to-t from-black to-bordo text-white h-full">
    <span class="p-5 text-2xl font-black">Albums</span>
    <div class="flex flex-col">
      <div class="ml-5 mb-5 w-3/4 rounded p-3 border-b border-gray-clair">
        <div class="flex justify-between items-center">
          <div class="flex items-center justify-center">
            <div class="ml-2 text-gray-400">Titre.</div>
          </div>
          <p class="text-gray-400 mt-1">Durée totale.</p>
        </div>
      </div>
      <app-album-card *ngFor="let album of artist?.albums" [album]=album [routerLink]="'/home/album/' + album.id"></app-album-card>
    </div>
  </div>


</div>

