<div class="h-full overflow-hidden" style="background-color: #282828">


  <div class="flex flex-col-reverse h-96 text-white">
    <span class="text-2xl p-5">{{artist.TimeOfHeard}}</span>
    <span class="font-black text-6xl p-5">{{artist.Name}}</span>
  </div>
  <div class="flex flex-col bg-gradient-to-t from-black to-bordo text-white h-full">
    <span class="p-5 text-2xl font-black">Albums</span>
    <div class="flex flex-col">
      <app-album-card *ngFor="let album of artist.Albums" [album]=album (click)="goToAlbum(album)"></app-album-card>
    </div>
  </div>
</div>

