<div class="h-full overflow-hidden">
  <div class="bg-gradient-to-t from-one-black to-two-black" style="height: 22rem">
    <div class="flex">
      <button class="mt-4 ml-7 focus:outline-none" mat-mini-fab aria-label="Example icon-button with a arrow icon">
        <mat-icon class="text-white text-4xl">keyboard_arrow_left</mat-icon>
      </button>
      <button class="mt-4 ml-5 focus:outline-none" mat-mini-fab aria-label="Example icon-button with a arrow icon">
        <mat-icon class="text-white text-4xl">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div class="flex">
      <div class="ml-8 mt-7 h-60 w-60 flex items-center justify-center cursor-pointer bg-gray-fonce border-2 border-transparent hover:border-one-black hover:bg-opacity-20">
        <img class="h-12 w-12" src="../../../../assets/music.png" alt="logo music">
      </div>
      <div class="pt-36 pl-6 ">
        <p class="cursor-pointer text-white text-7xl font-black ">Ma playlist n°15</p>
      </div>
    </div>
  </div>
  <div class="h-full" style="background-color: #121212">

  </div>
</div>
